@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Adventure Subtitles';
    src: url('./fonts/adventure_subtitles/AdventureSubtitles.woff2');
}

html,
body {
    font-family: 'Arial';
}

h1 {
    color: white;
    font-family: Adventure Subtitles;
}

h2 {
    color: white;
}

p {
    font-family: Lucida Console;
}

@layer components {
    .btn {
        background-color: #58629c;
        color: white;
        padding: 4px;
        padding-left: 4px;
        border-radius: 5px;
        font-weight: medium;
        font-family: Adventure Subtitles;
        border: 1px solid #58629c;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 500px) {
    .bannerpart .intobs .intobsr {
        display: none !important;
    }
}

@media (min-width: 500px) {
    .bannerpart {
        display: block !important;
    }
}

body {
    background: #12161c;
}

/* .Skills{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
} */

/* section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
} */

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.intobs {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.75s;
}

.intobsr {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 0.75s;
}

.intobss {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.5s;
}

.intobssr {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 0.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* .Work { #202731
    background: #5f639c;
}

.AboutUs {
    background: #6f73a6;
}

.OurContent {
    background: #7f82b0;
}

.purple4 {
    background: #8f92ba;
}

.purple5 {
    background: #9fa1c4;
}

.purple6 {
    background: #afb1ce;
}

.purple7 {
    background: #bfc1d7;
} */