@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Adventure Subtitles';
    src: url('./fonts/adventure_subtitles/AdventureSubtitles.woff2');
}

html,
body {
    font-family: 'Arial';
}

h1 {
    color: white;
    font-family: Adventure Subtitles;
}

h2 {
    color: white;
}

p {
    font-family: Lucida Console;
}

@layer components {
    .btn {
        background-color: #58629c;
        color: white;
        padding: 4px;
        padding-left: 4px;
        border-radius: 5px;
        font-weight: medium;
        font-family: Adventure Subtitles;
        border: 1px solid #58629c;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 500px) {
    .bannerpart {
        display: none !important;
    }
}

@media (min-width: 500px) {
    .bannerpart {
        display: block !important;
    }
}

body {
    background: #12161c;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.intobs {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.intobsr {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.intobss {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.5s;
}

.intobssr {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 0.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media only screen and (max-width: 500px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;

    }
}

@media only screen and (min-width: 500px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;

    }
}

.dylFrame {
    background:
        linear-gradient(45deg,
            #0392cf,
            #c471ed);
}

.ishFrame {
    background:
        linear-gradient(45deg,
            #f6cd61,
            #FE5000);
}

.alexFrame {
    background:
        linear-gradient(45deg,
            #7bc043,
            #05431f);
}

.louisFrame {
    background:
        linear-gradient(45deg,
            #f9f4f4,
            #f2d383);
}

.eddieFrame {
    background:
        linear-gradient(45deg,
            #Fb1230,
            #770918);
}

.card_img {
    filter: grayscale(100) contrast(100%);
    transition: filter 400ms ease;
}

.card_img:hover {
    filter: grayscale(0);
}

.contactus {
    background:linear-gradient(
        #0697d5,
        #0e4a7b)
}
  
@media (max-width: 500px) {
    .card_img {
        filter: grayscale(0);
    }
}

/* @media (max-width: 500px) {
    .artimg {
        width: 100%;
    }
} */

/* @media (max-width: 500px) {
    .legend {
        display: none;
    }
} */


.carousel-item {
    margin: 0.5rem;
}


/* .bandFrame{
    background: 
    linear-gradient(
        90deg,
        #5d5d61,
        #313136,
        #2c2e38,
        #2a2b31,
        #1a1b1fbe    
    );
} */

.gallerycontainer {
    max-width: 100%;
    padding: 0 1rem;
  }
  
  .card_img {
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
  }
  
  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image {
    transition: transform 0.3s ease-in-out;
  }
  
  .card_img:hover .image {
    transform: scale(1.1);
  }